In [2]:
import pandas as pd

# Load the dataset
file_path = r"C:\Users\Balakumaran\Desktop\Data Analysis Internship\Dataset .csv"
df = pd.read_csv(file_path)

# Count the number of restaurants per city
city_counts = df['City'].value_counts()

# Get the city with the highest number of restaurants
top_city = city_counts.idxmax()
top_city_count = city_counts.max()

print(f"City with the highest number of restaurants: {top_city} ({top_city_count} restaurants)")

City with the highest number of restaurants: New Delhi (5473 restaurants)

In [3]:
# Group by city and calculate the average rating
city_avg_ratings = df.groupby('City')['Aggregate rating'].mean().reset_index()

# Display the average rating for each city
print(city_avg_ratings)

                City  Aggregate rating
0          Abu Dhabi          4.300000
1               Agra          3.965000
2          Ahmedabad          4.161905
3             Albany          3.555000
4          Allahabad          3.395000
..               ...               ...
136          Weirton          3.900000
137  Wellington City          4.250000
138   Winchester Bay          3.200000
139          Yorkton          3.300000
140        ��stanbul          4.292857

[141 rows x 2 columns]

In [4]:
# Find the city with the highest average rating
highest_rated_city = city_avg_ratings.loc[city_avg_ratings['Aggregate rating'].idxmax()]

print(f"City with the highest average rating: {highest_rated_city['City']} ({highest_rated_city['Aggregate rating']:.2f})")

City with the highest average rating: Inner City (4.90)